
<!DOCTYPE html>
<html>
    <head>
        {% if tab_title %}
            <title>{{ tab_title }}</title>
        {% endif %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
            
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    </head>
    <body style="font-family:arial;">
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous">
        </script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous">
        </script>
        {% csrf_token %}
        <script type="text/javascript">
            $(document).ready(function(){
                // AJAX Setup
                // Using query selector causes fewer issues that trying to read a cookie
                window.csrftoken = document.querySelector("input[name=csrfmiddlewaretoken]").value;
                function csrfSafeMethod(method) {
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", window.csrftoken);
                        }
                    }
                });
            });
            function postJson(url, data, successCb, errorCb) {
                $.ajax({
                    url,
                    type:'POST',
                    data:JSON.stringify(data),
                    contentType: 'application/json',
                    success:successCb,
                    error:errorCb,
                })
            }
        </script>
        {% if user.is_authenticated %}
            <div class="container">
                <div class="mt-2">
                    <div style="display:flex; justify-content:space-between;">
                        <div>
                            hey <a href="#">{{ user.player.handle }}</a>.. not you?  <a href="{% url 'page-lobby-logout' %}">logout</a>
                        </div>
                        <div style="font-size:1.2rem;">
                            <i class="fas fa-crow"></i>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% block 'body' %}
            
        {% endblock %}

    </body>
</html>
